/*================================================================
GENERAL STYLES
=================================================================*/

body {
	z-index:1;
	margin:0;
	background:#ECECEC;
	position:relative;
}

[am-layoutWrap] {
	width:940px;
	margin:0 auto;
	position: relative;
	padding:0;
}

/*Relative header fix*/
[am-placeholder] {
	width:100%;
	height:80px;
}

/*Header*/
header {
	padding:0px 0px 10px 0px;
	background:white;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
	display:block;
	position:absolute;
	width:100%;
	top:0;
	left:0;
	z-index:1000000;
}

/*Logo*/
[am-logo] {
	display:inline-block;
}

/*Navigation and search box wrapper*/
[am-wrapNavAndSearch] {
	display:inline-block;
	margin-left:19px;
}

/*Main navigation*/
[am-nav~="main"] > ul > li:hover > a  {
	z-index:5;
}

[am-nav~="main"] [am-dropdown] {
	display:none;
	z-index:10;
}

[am-nav~="main"] > ul > li:hover [am-dropdown] {
	display:block;
	margin-top:15px;
	position:absolute;
	left: 0px;
	width:898px;
	clear:both;
}

[am-dropdown] li a {
	color: #585951;
}

/*Search box*/
[am-inputSubmit~="search"] {
	margin-left:15px;
}

/*Language and login*/
[am-wrapLangLogin] {
	display:block;
	position:absolute;
	top:10px;
	right:0;
	margin:0;
}

/*Main Content*/
[am-main] {
	display:block;
}

section {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}


/*Slider*/
[am-layoutWrap~="slider"] {
	width: 100%;
}

[am-slider] {
	z-index:6;
}

[am-wrapSlideContent] {
	width:100%;
	margin:0;
	padding-top:70px;
	background-size:cover;
}

[am-wrapSlideContent~="1"] {
	background: url('../images/bg1.png') no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
}

[am-wrapSlideContent~="2"] {
	background: url('../images/bg2.jpg') no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
}

[am-wrapSlideContent~="3"] {
	background: url('../images/bg3.jpg') no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
}

[am-wrapSlideContent~="4"] {
	background: url('../images/bg4.jpg') no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
}

[am-sliderHeadline] {
	margin:0px 0px 30px 0px;
}

[am-sliderParagraph] {
	padding:0;
}

[am-sliderParagraph] li {
	color:white;
	list-style:inside circle;
}

[am-sliderBullets] {
	padding:0;
	display:inline-block;
	position: absolute;
	margin-top:270px;
	z-index: 7;
}

[am-sliderBullets] a {
	cursor: pointer;
}

[am-sliderBullets] [am-marked]{
	background: #3399cc;
	color:white;
}

[am-wrapSliderBoxes] {
	margin-left: 0px;
	margin-top:190px;
	padding-bottom:20px;
}

[am-sliderBox] {
	margin-right: 30px;
	width: 290px;
}

[am-sliderBox~="1"] {
	background: rgba(255, 102, 0, 0.9);
}

[am-sliderBox~="1"]:hover {
	background: #ff5400;
}

[am-sliderBox~="2"] {
	background: rgba(255, 51, 154, 0.9);
}

[am-sliderBox~="2"]:hover {
	background: #d82b82;
}

[am-sliderBox~="3"] {
	background: rgba(102, 204, 51, 0.9);
	margin-right:0;
}

[am-sliderBox~="3"]:hover {
	background: #5aa435;
}

/*Services*/
[am-services] {
	background: url("../images/weDoBG.png") repeat scroll 0 0, radial-gradient(ellipse at center, #59bedb 0%,#3399cc 100%);
	position:relative;
	bottom:50px;
	padding-bottom:30px;
	z-index:5;
}

[am-servicesIcons] {
	text-align:center;
	margin:0 auto;
	margin-left:25px;
	padding-top:50px;
	padding-bottom:50px;
}

[am-blueButton~="services"] {
	text-align: center;
	margin:0 auto;
	margin-bottom:50px;
}

/*Solutions*/
[am-solutions] {
	z-index:4;
	box-shadow: none;
	background: #646263;
	position:relative;
	bottom:85px;
	padding-bottom:50px;
}

[am-layoutWrap~="solutions"] ul {
	padding:0;
}

[am-solutionList] {
	display:inline;
	margin-right:160px;
}

[am-solutionList] a {
	color:white;
	font-size: 2em;
}

[am-solutionList]:last-child {
	margin-right:0;
}

/*News*/
[am-news] {
	z-index:3;
	box-shadow: none;
	position:relative;
	bottom:120px;
	background: url('../images/blur.jpg') no-repeat 50% fixed #1e1c1b;
	padding-bottom:40px;
	background-size: cover;
}

[am-wrapNewsSections] {
	padding:20px 0px 40px 0px;
}

[am-newsSection] {
	margin-right:15px;
}

/*Success stories*/
[am-successStories] {
	z-index:2;
	position:relative;
	background: #ECECEC;
}

[am-layoutWrap~="successStories"] [am-sectionHeadline~="testimonials"] {
	color:#565656;
	text-shadow:none;
	padding:0;
	margin-bottom:50px;
	margin-top:-60px;
}

[am-testimonialBox="1"], [am-testimonialBox="2"] {
	width:348px;
	display:inline-block;
	vertical-align:top;
}

[am-testimonialBox="3"] {
	width:225px;
	display:inline-block;
	vertical-align:top;
}

[am-testimonialBox] [am-successSmall] {
	margin-right:6px;
	overflow:hidden;
	z-index:200;
}

[am-testimonialBox~="1"] [am-successSmall], [am-testimonialBox="3"] [am-successSmall] {
	margin-top:6px;
}

[am-testimonialBox~="2"] [am-successSmall] {
	margin-bottom:6px;
}


[am-testimonialBox="3"] [am-successSmall]:nth-child(3){
	margin-right:0;
}

[am-layoutWrap~="successStories"] [am-blueButton] {
	margin:20px auto;
}

[am-toTop] {
	margin-top:20px;
}

/*Footer*/
footer {
	z-index:1;
	background: url("../images/footerBG.png") repeat scroll center 0, radial-gradient(ellipse at center, #ffffff 0%,transparent 100%);
	position:relative;
}

[am-footerWidgetList] {
	padding:0;
	display:inline-block;
}

[am-footerWidgetList] > li {
	display:inline-block;
	vertical-align:top;
}

[am-footerWidget] {
	vertical-align:top;
}

[am-socialWidget] {
	vertical-align:top;
}

[am-infoRow] {
	display:inline-block;
	position:absolute;
	bottom:0px;
	margin:5px;
	margin-left:0px;
	left:0px;
}

/*================================================================
HIDDEN ELEMENTS
=================================================================*/

/*Hide labels*/
label {
	display: none;
}

/*Hide inputs*/
input {
	display:none;
}

/*Hide tablet social icons*/
[am-socialIcons~="tablet"]{
	display:none;
}

/*Hide mobile footer*/
[am-mobileFooter] {
	display:none;
}

/*================================================================
DESKTOP STYLES
================================================================*/

@media all and (min-width: 1004px) {

	[am-slider] {
		height: 560px;
		position: relative;
	}

	[am-layoutWrap~="slider"] {
		height: 100%;
	}

	[am-wrapSlideContent] {
		box-sizing: border-box;
		position: absolute;
		top: 0;
		height: 100%;
		display: none;
	}

	[am-layoutWrapDesktop] {
		width:940px;
		margin:0 auto;
		position: relative;
		padding:0;
	}

	[am-wrapSliderBoxes] {
		position: absolute;
		width: 100%;
		bottom: 20px;
	}

}

/*================================================================
TABLET STYLES
=================================================================*/

@media all and (min-width:768px) and (max-width:1004px) {
	/*Layout wrap*/
	[am-layoutWrap] {
		width: 768px;
	}

	/*Logo*/
	[am-logo] img {
		width:140px;
	}

	/*Navigation and search box wrap*/
	[am-wrapNavAndSearch]{
		margin-left:40px;
		margin-top:50px;
	}

	/*Navigation*/
	[am-nav~="main"] > ul {
		margin-left:30px;
	}

	[am-nav~="main"] > ul > li > a {
		padding: 10px 5px 20px 5px;
		font-size:11px;
	}

	[am-dropdown] div:first-child {
		padding-right:0px;
	}

	[am-dropdown] ul {
		margin-left:10px;
		width:230px;
	}

	[am-dropdown] img {
		width:170px;
		height:110px;
		padding-left:45px;
		padding-right:20px;
	}

	[am-dropdown] a {
		font-size: 0.8em;
	}

	[am-dropDown], [am-nav~="main"] > ul > li:hover [am-dropdown] {
		width: 725px;
	}

	/*Search box*/
	[am-inputSubmit~="search"]{
		margin-left:0;
		width:120px;
		margin-left:16px;
	}


	[am-input~="search"] {
		width:90px;
	}

	[am-submit~="search"] {
		width:25px;
	}

	/*Language and login*/
	[am-wrapLangLogin] {
		margin-top:10px;
	}

	/*Slider*/
	[am-layoutWrap~="slider"] {
		width: 100%;
	}

	[am-wrapSlideContent] {
		width: 50%;
		height: 250px;
		float: left;
		position: relative;
	}

	[am-wrapSlideContent~="1"] {
		background-attachment: scroll;
		padding-bottom: 100px;
		background-position: 50% 50%;
	}

	[am-wrapSlideContent~="2"] {
		background-attachment: scroll;
		padding-bottom: 100px;
		background-position: 40% 0%;
	}

	[am-wrapSlideContent~="3"] {
		background-attachment: scroll;
		padding-bottom: 100px;
		background-position: 50% 100%;
	}

	[am-wrapSlideContent~="4"] {
		background-attachment: scroll;
		padding-bottom: 100px;
		background-position: 50% 0%;
	}

	[am-sliderHeadline] {
		margin-left: 20px;
		font-size: 2em;
	}

	[am-sliderParagraph] {
		margin-left: 20px;
	}

	[am-sliderParagraph] li {
		margin-top: 5px;
	}

	[am-wrapSlideContent] [am-blueButton] {
		background: linear-gradient(to bottom, #2f95c8 0%,#2c96ca 24%,#1188c4 100%);
		margin-left:20px;
		width:100px;
		padding: 7px 15px;
		position: absolute;
		bottom: 50px;
	}

	[am-sliderBullets] {
		display: none;
	}

	[am-wrapSliderBoxes] {
		margin-top: 0px;
	}

	[am-sliderBox] {
		margin-right: 0px;
		width:100%;
		border-radius:0;
		margin-bottom:10px;
		position:relative;
	}

	[am-sliderBox] h2 {
		padding:10px;
	}

	[am-sliderBox]:after {
		content: url("../images/arrow.png");
		position:absolute;
		right:5px;
		top:80px;
	}

	/*Services*/

	[am-servicesIcons] {
		margin-left:50px;
	}

	[am-servicesIcons] li {
		width:110px;
	}

	[am-servicesIcons] img {
		height:50px;
	}

	/*Solutions*/
	ul, h2 {
		margin-top: 10px;
	}

	[am-solutionList] {
		margin-right:100px;
	}

	[am-timeDayMonth] {
		width:50px;
		height:75px;
	}

	[am-timeDayMonth] h3 {
		padding:0;
		font-size:2em;
		line-height:1.5em;
		text-align:center;
	}

	[am-timeDayMonth] p {
		padding:4px 0px;
	}

	[am-inputNearTime] > p {
		max-width:165px;
		margin-left:5px;
		height:126px;
	}

	/*News*/
	[am-newsSection] {
		margin-right:10px;
		vertical-align:top;
	}

	[am-newsSection]:nth-child(3) {
		margin-right:0;
	}

	[am-newsSection] > h3 {
		font-size:1.5em;
	}


	/*Success stories*/
	[am-wrapTestimonials] {
		margin:0;
		margin-left:15px;
	}

	[am-testimonialBox="1"], [am-testimonialBox="2"] {
		width:270px;
	}

	[am-testimonialBox="3"] {
		width:185px;
	}

	[am-success] {
		width:173px;
		height:210px;
	}

	[am-success] blockquote {
		width:150px;
		font-size:14px;
		line-height:20px;
	}

	[am-success] > div > div {
		margin-top:0px;
	}

	[am-success] > div > div > div {
		width:80px;
	}

	[am-success] [am-caption] div p {
		width:60%;
		font-size:14px;
		line-height:20px;
	}

	[am-success] [am-caption~="medium"] div {
		width:165px;
		height:192px;
		padding:5px;
	}

	[am-success~="large"] {
		width:264px;
		height:210px;
	}

	[am-success~="large"] [am-clientPhoto] {
		height:80px;
		width:80px;
	}


	[am-success~="large"] > div > div {
		padding-top:20px;
	}

	[am-success~="large"] > div > div > div{
		width:150px;
	}

	[am-success~="large"] [am-caption] div {
		width:247px;
		height:192px;
		padding:10px;
	}

	[am-success] [am-caption~="large"] div p {
		width:70%;
		font-size: 14px;
		line-height:20px;
	}

	[am-success~="large"]:hover [am-caption] {
		width:267px;
		height:212px;
	}

	[am-successSmall], [am-successSmall] [am-caption~="small"] img, [am-successSmall] img {
		width:81px;
		height: 81px;
		padding:0;
	}

	[am-toTop] {
		margin-left:700px;
		width:50px;
		height:30px;
		line-height:30px;
		border-bottom:0;
	}

	/*Footer*/
	footer, [am-layoutWrap~="footer"] {
		height:50px;
	}

	[am-footerWidgetList], [am-socialWidget] {
		display:none;
	}

	[am-socialIcons~="tablet"] {
		display:inline-block;
		vertical-align: top;
		float:right;
		padding:0;
		margin:0;
		margin-top:10px;
	}

	[am-socialIcons] li i {
		color:grey;
	}

	[am-infoRow] {
		display:inline-block;
		margin: 15px 0px;
	}
}

/*================================================================
MOBILE STYLES
=================================================================*/

@media all and (max-width:767px) {
	/*Layout wrap*/
	[am-layoutWrap] {
		width:100%;
	}

	/*Relative header fix*/
	[am-placeholder] {
		width:100%;
		height:60px;
	}

	/*Header*/
	header {
		padding:0;
		height:60px;
	}

	/*Logo*/
	[am-logo] {
		width:130px;
		margin-left: calc(50% - 65px);
	}

	[am-logo] img {
		width:130px;
	}

	/*Menu and search buttons*/
	label {
		display:block;
	}

	[am-menuMobile], [am-searchMobile] {
		width:40px;
		height:40px;
		background: linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%);
		display: inline-block;
		margin: 10px;
		position: absolute;
		border-radius:5px;
		cursor: pointer;
		border: 1px solid #d9d9d9;
		text-align:center;
		line-height:42px;
		font-size:25px;
	}

	[am-menuMobile] {
		color: #a0a0a0;
	}

	[am-searchMobile] {
		right:0;
		top:0;
		color:#0099CC;
	}

	#menu:checked + ul {
		height:1100px;
		background:transparent;
	}

	#search:checked + [am-inputSubmit~="search"] {
		height:45px;
	}

	/*Wrap navigation and search box*/
	[am-wrapNavAndSearch] {
		width:100%;
		margin:0;
		overflow:auto;
		height:0px;
	}

	/*Navigation*/
	[am-nav~="main"] {
		width:100%;
	}

	[am-nav~="main"] > ul {
		width:100%;
		height:0;
		overflow:hidden;
		position: absolute;
		transition: height 1s;
		z-index:100;
		top:60px;
		border-top: 1px solid #d9d9d9;
	}

	[am-nav~="main"] > ul > li {
		width: 100%;
		display: block;
		padding: 0;
		border-bottom:1px solid #d9d9d9;
		position:relative;
		background: url("../images/bodyBG.png") repeat scroll 0 0 #fff;
	}

	[am-nav~="main"] > ul > li > a {
		width: 100%;
		display: block;
		border: 0;
		padding: 10px;
		box-sizing: border-box;
		z-index:100;
	}

	[am-nav~="main"] > ul > li > a:before {
		content:"▶";
		margin-right:20px;
		z-index:100;
		font-size:16px;
	}

	[am-nav~="main"] > ul > li > a:hover, [am-nav~="main"] > ul > li:hover > a {
		box-shadow: none;
		border:0;
		color: #0099CC;
	}

	[am-nav~="main"] > ul > li > a:hover:before, [am-nav~="main"] > ul > li:hover > a:before {
		color:black;
	}

	[am-nav~="main"] label {
		display:block;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:45px;
		cursor:pointer;
	}

	[am-nav~="main"] > ul > li > [am-dropdown], [am-nav~="main"] > ul > li:hover [am-dropdown] {
		position:absolute;
		left:-1px;
		width:100%;
		padding:0;
		background:transparent;
		box-shadow:none;
		border:0;
		display:none;
		margin:0;
	}

	[am-nav~="main"] > ul > li > #needs:checked + [am-dropdown], [am-nav~="main"] > ul > li > #portfolio:checked + [am-dropdown] ,
	[am-nav~="main"] > ul > li > #news:checked + [am-dropdown], [am-nav~="main"] > ul > li > #about:checked + [am-dropdown] {
		display:block;
	}

	[am-dropdown] div {
		width:100%;
		border:0;
		border-top:1px solid lightgrey;
		background:#fcfcfc;
		box-shadow:none;
		padding:0;
	}

	[am-dropdown] ul {
		display:block;
		width:100%;
		margin:0;
		border:0;
		padding:0px;
		border-bottom:0px!important;
	}

	[am-dropdown] ul li {
		width:100%;
		height:45px;
		border:0;
		border-bottom:1px solid lightgrey;
		display:block;
	}

	[am-dropdown] ul li a {
		width:100%;
		display:block;
		padding:10px;
		padding-left:44px;
		line-height:25px;
		box-sizing:border-box;
	}

	[am-dropdown] img{
		display:none;
	}

	/*Search box*/
	[am-inputSubmit~="search"] {
		width:100%;
		margin:0;
		margin: 0;
		height:0px;
		overflow:hidden;
		position: absolute;
		background:white;
		border:0;
		border-radius:0;
		z-index:200;
		top:61px;
		left:0;
	}

	[am-input~="search"] {
		width:100%;
		border:1px solid lightgrey;
		border-radius:5px;
		height:25px;
		width:96%;
		margin:10px 2%;
	}

	[am-submit~="search"] {
		display:none;
	}

	/*Language and login*/
	[am-wrapLangLogin] {
		display: none;
	}

	/*Slider*/
	[am-wrapSlideContent] {
		width:100%;
		height: 250px;
		padding:0;
	}

	[am-wrapSlideContent~="1"] {
		background-attachment: scroll;
		padding-bottom: 100px;
		background-position: 50% 50%;
	}

	[am-wrapSlideContent~="2"] {
		background-attachment: scroll;
		padding-bottom: 100px;
		background-position: 40% 0%;
	}

	[am-wrapSlideContent~="3"] {
		background-attachment: scroll;
		padding-bottom: 100px;
		background-position: 50% 100%;
	}

	[am-wrapSlideContent~="4"] {
		background-attachment: scroll;
		padding-bottom: 100px;
		background-position: 50% 0%;
	}

	[am-sliderHeadline] {
		display:block;
		background: url("../images/cover.png") repeat scroll 0 0 #3399cc;
		height:100px;
		font-size:25px;
		padding:10px;
		margin-bottom:20px;
	}

	[am-sliderParagraph] {
		margin-left: 10px;
	}

	[am-sliderParagraph] li {
		margin-top: 5px;
	}

	[am-wrapSlideContent] [am-blueButton] {
		background: linear-gradient(to bottom, #2f95c8 0%,#2c96ca 24%,#1188c4 100%);
		margin-left:10px;
		width:100px;
		padding: 7px 15px;
	}

	[am-sliderBullets] {
		margin-left:10px;
		margin-top:320px;
		display: none;
	}

	[am-wrapSliderBoxes] {
		margin-top: 0px;
	}

	[am-sliderBox] {
		width:100%;
		margin-right: 0px;
		border-radius:0;
		margin-bottom:10px;
		position:relative;
	}

	[am-sliderBox] h2 {
		padding:10px;
	}

	[am-sliderBox]:after {
		content: url("../images/arrow.png");
		position:absolute;
		right:5px;
		top:80px;
	}

	/*Services*/
	[am-services] {
		bottom: 60px;
	}

	[am-sectionHeadline]{
		font-size:25px;
	}

	[am-servicesIcons]{
		margin-left: 0;
		padding-top:20px;
		padding-bottom:0;
	}

	[am-servicesIcons] li{
		width:33.3%;
		height:150px;
		vertical-align: top;
		float: left;
	}

	[am-servicesIcons] li img {
		max-width:150px;
		height:60px;
	}

	[am-blueButton~="services"] {
		display:none;
	}

	/*Solutions*/
	[am-layoutWrap~="solutions"] ul {
		text-align:center;
	}

	[am-solutionList] {
		margin:15px;
		width:33%;
		text-align:center;
	}

	[am-solutionList] a {
		font-size:18px;
	}

	[am-solutionList]:last-child {
		margin-right:15px;
	}

	/*News*/
	[am-wrapNewsSections] {
		padding:0px;
	}

	[am-newsSection] {
		width:94%;
		margin:0px 3%;
		height:190px;
	}

	[am-newsSection] > h3 {
		font-size:25px;
	}

	[am-inputNearTime~="sectionBox"] {
		width:100%;
		box-sizing: border-box;
		position:relative;
		border-radius:3px;
	}

	[am-inputNearTime] > p {
		max-width:100%;
		margin-left:5px;
		position:absolute;
		top:10px;
	}

	[am-timeDayMonth] {
		width:50px;
		height:75px;
	}

	[am-timeDayMonth] h3 {
		padding:0;
		font-size:2em;
		line-height:1.5em;
		text-align:center;
	}

	[am-timeDayMonth] p {
		padding:4px 0px;
	}

	/*Success stories*/
	[am-successStories] {
		z-index:2;
		box-shadow:none;
	}

	[am-layoutWrap~="successStories"] {
		position: relative;
	}

	[am-wrapTestimonials] {
		margin-left:0;
		width:100%;
	}

	[am-testimonialBox] {
		display:block;
		margin:0 auto;
		width:342px;
	}

	[am-testimonialBox~="2"] {
		margin-top: 6px;
	}

	[am-testimonialBox~="3"] {
		display:none;
	}


	[am-testimonialBox] [am-success] {
		display:block;
	}

	[am-testimonialBox~="1"] [am-successSmall]:nth-child(4) {
		margin-right:0;
	}

	[am-testimonialBox~="2"] [am-successSmall]:nth-child(3) {
		margin-right:0;
	}

	[am-testimonialBox~="2"] [am-successSmall] {
		margin-bottom: 7px;
	}

	[am-layoutWrap~="successStories"] [am-blueButton] {
		width:150px;
	}

	[am-toTop] {
		position:absolute;
		bottom:-20px;
		right:5px;
		width:50px;
		height:30px;
		line-height:30px;
	}

	/*Footer*/
	[am-footerWidgetList], [am-socialWidget] {
		display:none;
	}

	[am-infoRow] {
		display:none;
	}

	[am-mobileFooter] {
		display:block;
		width:100%;
		margin:0;
	}

	[am-footerLinksMobile] {
		padding:0;
		margin:0;
	}

	[am-footerLinksMobile] li {
		font-size:14px;
	}

	[am-footerLinksMobile] li a {
		display:block;
		color:white;
		padding:10px;
	}

	[am-footerLinksMobile] > li {
		display:block;
		background: url("../images/footerBG.png") repeat scroll center 0, radial-gradient(ellipse at center, #ffffff 0%,transparent 100%);
		border-bottom:1px solid black;
	}

	[am-footerLinksMobile] > li > a:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ccc), color-stop(1, #9e9e9e) );
	}

	[am-footerLinksMobile] li ul li, [am-footerLinksMobile] li ul li a {
		display: inline-block;
		vertical-align: top;
		padding:0;
	}

	[am-mobileFooter] p {
		margin:0;
	}

	[am-mobileInfo] {
		background:white;
		text-align:center;
		font-size:12px;
	}

	[am-mobileInfo] a {
		color:darkblue;
	}

	[am-mobileInfo] a:hover {
		background:#333;
		color:black;
	}

	[am-socialIcons~="mobile"] {
		display:inline-block;
		padding:10px;
	}

	[am-socialMobile]:hover {
		background:#333;
	}

	[am-socialMobile] p {
		display: inline-block;
		vertical-align: top;
		padding:10px;
		color:white;
	}
}




